body{
 background-color: rgb(169, 241, 217);   
}
h3{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
text-align: center;
}
h2{
font-family: arial;    
}
h1{
font-family: arial;
color: crimson;    
text-align:center;
border: 2px solid red
}
p{
font-family: Georgia; 
text-align: center; 
}
li{
font-family: Georgia;      
}
.title{
border: 3px solid black;
font-style: italic; 
}
.images{
height: 500px;
width: 500px;    
}
#header{
position: relative;    
}
div{
background-color: white;    
}
img{
margin-left: auto;
margin-right: auto;
display: block;    
}



